<!-- About page -->
<!-- About page -->
<div id="blog">
  <div class="inner-page">
  	<div class="container blog">

				<!-- Header Blog -->
		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>
			    <div class="col-xs-12 col-md-11">
						<div class="blog-header">CampusRitter Blog</div>
			    </div>
			  </div>  		

			  <!-- Beitrag -->
			  <div class="row">
			  	<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>		  	
			  	<div class="col-xs-12 col-md-11">
			  		<div class="blog-image">
			  			<%= image_tag "blog-schlafmangel-emotionen.jpg", :class => "center-img img-responsive" %>
			  			<h2 class="blog-image-h2 schatten">DU VS. SCHLAFMANGEL<br>& EMOTIONEN</h2>
			  		</div>
			  	</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"><span class="blog-datum">18.&nbsp;DEZ</span></div>
		  		<div class="col-xs-12 col-md-11 blog-einleitung">
		  			<p class="blog-intro">Während der Prüfungszeit leiden viele Studenten unter Schlafmangel. Ein solches Schlafdefizit führt zu verringerter Aufmerksamkeit und Unkonzentriertheit – dass kann man besonders beim Lernen wenig gebrauchen.</p>

			  		<h3 class="blog">Prüfungszeit: Schlaf nachholen und frisch durchstarten</h3>
					
					<p class="blog">Erwachsene benötigen in der Regel sieben bis neun Stunden Schlaf, um insbesondere die geistigen Kräfte wieder vollständig zu regenerieren. Die nächtliche Ruhe ist notwendig, um überflüssige Nervenverbindungen abzubauen, neue Synapsen indirekt zu festigen und neu aufgenommene Informationen vom Zwischenspeicher ins Langzeitgedächtnis zu transferieren. Das Gehirn nutzt also die Schlafenszeit, um das zu verarbeiten, was es tagsüber gelernt hat.</p>
					<p class="blog">Die gute Nachricht lautet: Der menschliche Körper kann eine Phase chronischen Schlafmangels relativ kurzfristig wieder ausgleichen! Um seine Akkus komplett wieder aufzuladen muss man sich nur mal wieder so richtig ausschlafen – ohne den Wecker zu stellen. Am besten mehrere Tage hintereinander.</p>
					<p class="blog">Wenn ihr also mal für eine Prüfung einige Abende länger gebüffelt habt, dann seht zu, dass ihr vor der nächsten Klausur eine Erholungsnacht einlegt. So könnt ihr am nächsten Tag wieder frisch und erholt durchstarten!</p>
					<p class="blog">Diejenigen unter Euch, die jetzt für den nächsten Prüfungszeitraum gleich schon mal ein bisschen „vorschlafen“ wollen, müssen wir aber enttäuschen: der Körper kann Erholung leider nicht speichern.</p>

					<h3 class="blog">Der Einfluss unserer Emotionen</h3>
					<p class="blog">Zahlreiche internationale Studien, wie z. B. Dar-Nimrod und Heine (2006), kamen zu dem Ergebnis, dass unsere emotionale Grundhaltung einen signifikanten Einfluss auf die Lernleistung hat.</p>
					<p class="blog">Das Gehirn erinnert sich an frühere Erfahrungen beim Lernen und schüttet bereits vor dem Beginn des Lernens entweder Cortisol als Stresshormon oder Dopamin als Glückshormon aus. Eine hohe Konzentration von Cortisol hat Konzentrationsschwächen und teilweise sogar Erinnerungsverluste zur Folge.</p>
					<p class="blog">Überlistet Euch daher mit einem psychologischen Trick selbst und geht mit der Einstellung ans Werk, dass ihr alles schaffen werdet, was Ihr Euch vornehmt. Steckt Euch realistische Tagesziele und belohnt Euch anschließend mit etwas, was ihr gerne konsumiert oder unternehmt, um Euch zum Lernen zu motivieren.</p>
					<p class="blog text-center"><strong>„Positives Denken für positives Lernen!“</strong> sollte Euer Credo lauten.</p>

					<p class="blog">Wusstet Ihr eigentlich, welche Bedeutung nine-to-five für Euer Studium hat? Oder das zu viel Lernen „betrunken“ macht? In unserem nächsten Blogbeitrag haben wir einige weitere interessante Fakten rund um das Thema Lernen für euch zusammengefasst.</p>

					</div>
			  </div>

		  	<div class="row space">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11 text-center">
		  			<%= image_tag "jan.png", :class => "center-img img-circle img-responsive", :width => "100" %>
		  			<span class="blog-quote">"Ich freue mich auf Euer Feedback!"</span><br><span class="blog-autor">- Jan, CampusRitter</span>
					</div>
			  </div>


				<!-- Disqus -->
		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11">

				    <div id="disqus_thread"></div>
				    <script type="text/javascript">
				        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				        var disqus_shortname = 'campusritter'; // required: replace example with your forum shortname

				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

					</div>
			  </div>			  


  	</div> 
	</div>
</div>