<!-- About page -->
<div id="blog">
  <div class="inner-page">
  	<div class="container blog">

				<!-- Header Blog -->
		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>
			    <div class="col-xs-12 col-md-11">
						<div class="blog-header">CampusRitter Blog</div>
			    </div>
			  </div>  		

			  <!-- Beitrag -->
			  <div class="row">
			  	<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>		  	
			  	<div class="col-xs-12 col-md-11">
			  		<div class="blog-image">
			  			<%= image_tag "blog-lernen-lernen-1.jpg", :class => "center-img img-responsive" %>
			  			<h2 class="blog-image-h2 schatten">LERNEN LERNEN - <br>TRAIN YOUR BRAIN</h2>
			  		</div>
			  	</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"><span class="blog-datum">10.&nbsp;DEZ</span></div>
		  		<div class="col-xs-12 col-md-11 blog-einleitung">
		  			<p class="blog-intro">Hallo zusammen! Heute starten wir mit CampusRitters erstem Blogbeitrag und haben uns gleich zu Beginn ein spannendes Thema ausgesucht - das Lernen. Jeder muss es, viele mögen es nicht. Einigen fällt es leicht, anderen schwer. Meistens scheint einem das, was man sich in sein Hirn prügeln soll, viel zu viel.<br>In den folgenden Beiträgen möchten wir Euch Tipps geben, mit Studentenmythen aufräumen und die besten Methoden aufzeigen, mit denen Ihr Euch Dinge leicht, schnell und sicher merken könnt.</p>

						<h3 class="blog">Aller Anfang ist schwer</h3>
						
						<p class="blog">Viele von Euch kennen das Phänomen, jedes Semester mit dem Vorsatz zu starten, dieses Mal rechtzeitig mit dem Lernen zu beginnen und am Ende festzustellen, dass man es leider wieder nicht geschafft hat. Erfahrungsgemäß gibt es nämlich zwei Lerntypen: Der „Ich-kann-erst-richtig-lernen-wenn-ich-unter-Druck-stehe-Typ“ und der „Ich-gehe-in-jede-Vorlesung-und-eigne-mir-das-Wissen-über-das-ganze-Semester-hin-an-Typ“.</p>
						
						<p class="blog">An dieser Stelle möchten wir einen Appell an alle Last-Minute-Lerner aussprechen: Es gibt ein Leben nach dem Studium! Ihr spart Euch viel Stress, wenn ihr rechtzeitig mit dem Lernen beginnt. Im Berufsleben wird es sich auszahlen, wenn ihr das Wissen im Langzeitgedächtnis abgespeichert habt. Lernt also nicht nur für die Klausur oder den Studienabschluss, sondern für einen guten Job!</p>

		  			<p class="blog">Wenn Ihr in Etappen Erfolge habt, wenn Ihr plötzlich die Zusammenhänge erkennt, kann das unheimlich motivieren und das Lernen macht dem ein oder anderen dann sogar Spaß. Die Aussicht auf bessere Noten ist auch höher. 
						Also stellt euch eurem inneren Schweinhund und werdet zum stressfreien Dauer-Lerner!</p>

						<h3 class="blog">Die Essenz herausarbeiten</h3>

						<p class="blog">800 Seiten aus Büchern und Skripten auf 8 Seiten heruntergebrochen – gelobt sei der Streber-Kommilitone! Ach ist das schön, das kann man auch noch einen Tag vor der Klausur auswendig lernen – denken sich einige Studis und machen sich damit selbst was vor!</p> 

						<p class="blog">Denn hinter der Kurzfassung steht Wissen, das sich der Verfasser über lange Zeit angeeignet hat und nun über die Stichworte abrufen kann. In den meisten Fächern reicht die reine Essenz, ohne die Fähigkeit, diese anwenden zu können, für eine gute Note nicht aus.</p>

						<p class="blog">Also ackert rechtzeitig den Stoff durch, markiert Euch das Wesentliche mit Textmarken in verschiedenen Farben, schreibt Euch eine eigene Zusammenfassung in eigenen Worten und lasst Euch nicht von den Zusammenfassungen der Anderen verunsichern!</p>

						<p class="blog">In unserem nächsten Beitrag werdet Ihr Infos darüber finden, wie Ihr Schlafmangel ausgleichen und Eure Lernfortschritte positiv beeinflussen könnt.</p>

					</div>
			  </div>

		  	<div class="row space">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11 text-center">
		  			<%= image_tag "jan.png", :class => "center-img img-circle img-responsive", :width => "100" %>
		  			<span class="blog-quote">"Ich freue mich auf Euer Feedback!"</span><br><span class="blog-autor">- Jan, CampusRitter</span>
					</div>
			  </div>


				<!-- Disqus -->
		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11">

				    <div id="disqus_thread"></div>
				    <script type="text/javascript">
				        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				        var disqus_shortname = 'campusritter'; // required: replace example with your forum shortname

				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

					</div>
			  </div>			  


  	</div> 
	</div>
</div>