<!-- About page -->
<div id="blog">
  <div class="inner-page">
  	<div class="container blog">

				<!-- Header Blog -->
		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>
			    <div class="col-xs-12 col-md-11">
						<div class="blog-header">CampusRitter Blog</div>
			    </div>
			  </div>  	

			  <!-- Beitrags Preview -->
			  <div class="row">
			  	<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>		  	
			  	<div class="col-xs-12 col-md-11">
			  		<div class="blog-image">
			  			<%= image_tag "blog-schlafmangel-emotionen.jpg", :class => "center-img img-responsive" %>
			  			<h2 class="blog-image-h2 schatten">DU VS. SCHLAFMANGEL<br>& EMOTIONEN</h2>
			  		</div>
			  	</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"><span class="blog-datum">18.&nbsp;DEZ</span></div>
		  		<div class="col-xs-12 col-md-11 blog-einleitung">
		  			<p class="blog">Während der Prüfungszeit leiden viele Studenten unter Schlafmangel. Ein solches Schlafdefizit führt zu verringerter Aufmerksamkeit und Unkonzentriertheit – dass kann man besonders beim Lernen wenig gebrauchen. ...</p>
					</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11">
						<a href="blog/prüfungsstress-kampf-gegen-schlafmangel-und-emotionen" class="btn btn-primary">hier weiterlesen</a>
					</div>
				</div>

				<div class="space">&nbsp;</div>

			  <!-- Beitrags Preview -->
			  <div class="row">
			  	<div class="col-md-1 hidden-xs hidden-sm">
		  			&nbsp;
		  		</div>		  	
			  	<div class="col-xs-12 col-md-11">
			  		<div class="blog-image">
			  			<%= image_tag "blog-lernen-lernen-1.jpg", :class => "center-img img-responsive" %>
			  			<h2 class="blog-image-h2 schatten">LERNEN LERNEN - <br>TRAIN YOUR BRAIN</h2>
			  		</div>
			  	</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"><span class="blog-datum">10.&nbsp;DEZ</span></div>
		  		<div class="col-xs-12 col-md-11 blog-einleitung">
		  			<p class="blog">Hallo zusammen! Heute starten wir mit CampusRitters erstem Blogbeitrag und haben uns gleich zu Beginn ein spannendes Thema ausgesucht - das Lernen. Jeder muss es, viele mögen es nicht. Einigen fällt es leicht, anderen schwer. Meistens scheint einem das, was man sich in sein Hirn prügeln soll, viel zu viel.<br>In den folgenden Beiträgen möchten wir Euch Tipps geben, mit Studentenmythen aufräumen und die besten Methoden aufzeigen, mit denen Ihr Euch Dinge leicht, schnell und sicher merken könnt.</p>
					</div>
			  </div>

		  	<div class="row">
		  		<div class="col-md-1 hidden-xs hidden-sm"></div>
		  		<div class="col-xs-12 col-md-11">
						<a href="blog/lernen-lernen-train-your-brain" class="btn btn-primary">hier weiterlesen</a>
					</div>
			  </div>


  	</div> 
	</div>
</div>