<div class="mieten color-1">
	<div class="inner-page"></div>
  	<div class="inner-page">
    	<h2 class="page-headline">Interessiert, wieviel die Miete bei uns kostet?</h2>
    	<h3 class="page-subtitle">Mit unserem Kalkulator kannst Du für jedes Deiner Bücher den passenden Mietpreis berechnen</h3>
  	</div>
	<div class="inner-page row">
		<div class="col-md-6 col-md-offset-3">
	<script type="text/javascript" language="JavaScript">
	<!-- 

	function Monat01()
	{
	var miete = Calc.Input.value;
	var miete = miete.replace(',', '.');	
	var miete = parseFloat(miete);	
	var miete = miete * 0.25;
	var miete = Math.round(miete * 100) / 100;
	Calc.Output.value = miete + " €";
	} 
	function Monat02()
	{
	var miete = Calc.Input.value;
	var miete = miete.replace(',', '.');	
	var miete = parseFloat(miete);	
	var miete = miete * 0.37;
	var miete = Math.round(miete * 100) / 100;
	Calc.Output.value = miete + " €";
	} 
	function Monat03()
	{
	var miete = Calc.Input.value;
	var miete = miete.replace(',', '.');	
	var miete = parseFloat(miete);	
	var miete = miete * 0.47;
	var miete = Math.round(miete * 100) / 100;
	Calc.Output.value = miete + " €";
	} 
	function Monat04()
	{
	var miete = Calc.Input.value;
	var miete = miete.replace(',', '.');	
	var miete = parseFloat(miete);	
	var miete = miete * 0.55;
	var miete = Math.round(miete * 100) / 100;
	Calc.Output.value = miete + " €";
	} 
	function Monat05()
	{
	var miete = Calc.Input.value;
	var miete = miete.replace(',', '.');	
	var miete = parseFloat(miete);	
	var miete = miete * 0.60;
	var miete = Math.round(miete * 100) / 100;
	Calc.Output.value = miete + " €";
	} 

	//--> 
	</script>
		<FORM NAME="Calc">
		<p>Gib hier den Ladenpreis Deines Fachbuchs ein ...</p>
		<INPUT TYPE="text"   NAME="Input" Size="16">
		<br><br>
		<p>... und wähle die passende Mietdauer.</p>
		<INPUT TYPE="button" NAME="one"   VALUE="  1 Monat " OnClick="Monat01()">
		<INPUT TYPE="button" NAME="one"   VALUE="  2 Monate " OnClick="Monat02()">
		<INPUT TYPE="button" NAME="one"   VALUE="  3 Monate " OnClick="Monat03()">
		<INPUT TYPE="button" NAME="one"   VALUE="  4 Monate " OnClick="Monat04()">
		<INPUT TYPE="button" NAME="one"   VALUE="  5 Monate " OnClick="Monat05()">
		<br><br>
		<p>Dein Mietpreis!</p>
		<INPUT TYPE="text"   NAME="Output" Size="16">
		<p>+ 3,90€ Versandkosten. Versandkostenfrei ab 20€ Gesamtmiete!</p>
		<br>
		</FORM>
	</div>
	</div>
    <div class="inner-page">
      <h2 class="page-headline">Unser Versprechen</h2>
      <h3 class="page-subtitel center">Da es unser Anspruch ist Dir den perfekten Service zu bieten</h3>
    </div>
    <div class="inner-page row">
      <ul class="features list-inline">
        <li>
          <h4 class="schatten">Flexibel</h4>
          <p>Vom Buchtest bis zur Semestermiete – wir bieten Dir für jeden Bedarf die passende Mietzeit! Und wenn mal was dazwischen kommt, kannst Du die Mietdauer jederzeit verlängern.</p>
        </li>
        <li>
          <h4 class="schatten">Nie teurer als der Neukauf</h4>
          <p>Wir werden Dir nie mehr berechnen als den Ladenpreis! Auch wenn Du die Miete mehrfach verlängerst, gilt: Sobald Du den Ladenpreis erreicht hast, gehört das Buch ganz offiziell Dir.</p>
        </li>
        <li>
          <h4 class="schatten">Kaufen nach der Miete</h4>
          <p>Du möchtest Dein Buch am Ende der Mietdauer behalten? Kein Problem. Zahle einfach die Differenz zwischen Mietpreis und Ladenpreis und das Buch gehört Dir!</p>
        </li>
      </ul>
    </div>
</div>