<!-- Clients -->
<div class="mieten color-1">
	<div class="inner-page"></div>
  <div class="inner-page">
    <h2 class="page-headline">Bücher mieten und Geld sparen</h2>
    <h3 class="page-subtitle">In drei Schritten zum Ziel</h3>
  </div>
  <div class="inner-page row">
		<div id="wufoo-r7x4a3">Fill out my <a href="https://campusritter.wufoo.com/forms/r7x4a3">online form</a>.</div>
		<script type="text/javascript">var r7x4a3;(function(d, t) {var s = d.createElement(t), options = {'userName':'campusritter', 'formHash':'r7x4a3', 'autoResize':true,'height':'2134','async':true,'header':'show', 'ssl':true};s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';s.onload = s.onreadystatechange = function() {var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;try { r7x4a3 = new WufooForm();r7x4a3.initialize(options);r7x4a3.display(); } catch (e) {}};var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);})(document, 'script');
		</script>
  </div>
 	<div class="inner-page"></div>
 	<div class="inner-page"></div>
  </div>
</div>
</div> <!-- /#assets -->