  <!-- About page -->
  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Wie alles begann. Unsere Geschichte.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
      	<%= image_tag "green-office.png", :class => "figurette lazy" %>
      </div>
      <div class="col-md-6">
        <h3>Gar nicht mal so lange her.</h3>
        <p class="lead">Im Februar 2013 haben wir drei uns auf dem 3Day Startup in Vallendar kennengelernt und gemeinsam die Idee einer Fachbuchvermietung für Studenten entwickelt.</p>
        <p class="lead">Seitdem dreht sich bei uns alles darum, Studenten das Leben leichter zu machen. Die Fachbuchvermietung ist hier nur der Anfang.<br><br>Wir wollen Euch helfen, Euren Alltag einfacher, günstiger und bequemer zu gestalten.“</p>
      </div>
    </div>
    <div class="inner-page"></div>
    <div class="inner-page"></div>
  </div>