  <!-- About page -->
  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Über uns</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
      	<%= image_tag "green-office.png", :class => "figurette lazy" %>
      </div>
      <div class="col-md-6">
        <p>Wir von CampusRitter haben ein großes Ziel: Studenten das Leben leichter zu machen!</p>
        <p>Wir haben alle studiert und während unseres Studiums immer wieder verzweifelt vor den leeren Bücherregalen der Bibliotheken gestanden, uns beim Bücherflohmarkt in die Schlacht um die wichtigsten Klassiker geworfen und insgesamt viel zu viel Geld für Fachbücher ausgegeben.</p>
        <p>Irgendwann war uns klar: Das muss doch auch anders gehen.</p>
        <p>Die meisten von uns brauchen ihre Bücher nur für ein Semester. Wenn wir eine Hausarbeit schreiben oder uns auf eine Klausur vorbereiten, benutzen wir Fachbücher oft sogar nur für ein oder zwei Monate.</p>
        <p>Man könnte uns Studenten die Bücher doch einfach so lange anbieten, wie wir sie tatsächlich brauchen. Je kürzer wir das Buch benutzen, desto günstiger sollte es sein!</p>
        <p><b>Die Idee der Fachbuchvermietung war geboren!</b></p>
        <p>Bei uns bekommt Ihr Eure für jedes Studienfach – immer in der aktuellsten Auflage!</p>
        <p>Wir bieten Euch für jeden Bedarf die passende Mietzeit! Wenn euer Prof. mal wieder zehn Bücher zum gleichen Thema vorschlägt, könnt ihr mit unserer Monatsmiete alle Bücher anlesen und in Ruhe herausfinden, welches davon Ihr länger behalten wollt.</p>
        <p>Wir sind nie teurer als der Neukauf! Selbst wenn Ihr Eure Buchmiete mehrmals verlängert: Sobald Ihr den Ladenpreis erreicht habt, gehört das Buch ganz offiziell Euch!</p>
      </div>
    </div>
    <div class="inner-page"></div>
    <div class="inner-page"></div>
  </div>