<!-- The footer, social media icons, and copyright -->
<footer class="page color-5">
  <div class="inner-page row">
    <div class="col-md-6 social">
      <a href="https://twitter.com/CampusRitter" target="_blank"><i class="icon-twitter"></i></a>
      <a href="https://www.facebook.com/CampusRitter" target="_blank"><i class="icon-facebook-sign"></i></a>
    </div>
    <div class="col-md-6 text-right copyright">
      &copy; 2014 <a  href="http://www.campusritter.de"  title="CampusRitter">campusritter.de</a> | <a href="#">AGB</a> | <a href="/impressum">Impressum</a> |  <a href="#top"   title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
    </div>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
if (typeof jQuery == 'undefined') {
  document.write(unescape("%3Cscript src='js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44710645-1', 'campusritter.de');
  ga('send', 'pageview');

  </script>

<!-- Minimize in production. -->

<script src="js/bootstrap.min.js"></script>


<!-- Main js fail. -->
<script src="js/main.min.js"></script>

<script>
// History, and back button
$(function() {
  jQuery.history.listen()
  $('.nav .scroll').click(function() {
    $.history.push('index.html' + $(this).attr('href'));
  });
});
</script>
